<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
<servlet>
    <servlet-name>User</servlet-name>
    <servlet-class>com.lxisoft.internsassist.User</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>User</servlet-name>
    <url-pattern>/user</url-pattern>
</servlet-mapping>

<security-constraint>
    <web-resource-collection>
        <web-resource-name>Secure Area</web-resource-name>
        <url-pattern>/user</url-pattern> 
        </web-resource-collection>
    <auth-constraint>
        <role-name>admin</role-name>
        <role-name>intern</role-name>
       <role-name>teamlead</role-name>
       <role-name>cordinator</role-name>
    </auth-constraint>
</security-constraint>

<security-role>
    <role-name>admin</role-name>
</security-role>

<security-role>
    <role-name>teamlead</role-name>
</security-role>

<security-role>
    <role-name>cordinator</role-name>
</security-role>

<security-role>
    <role-name>intern</role-name>
</security-role>

<login-config>
<auth-method>FORM</auth-method>
  <!-- Specify login configuration -->
    <form-login-config>
    <form-login-page>/SignUp.jsp</form-login-page>
    <form-error-page>/login-error.jsp</form-error-page>
</form-login-config>
</login-config>
  
    <!-- Error Handling -->
    <error-page>
        <error-code>401</error-code>
        <location>/login-error401.jsp</location>
    </error-page>
    <error-page>
        <error-code>403</error-code>
        <location>/login-error403.jsp</location>
    </error-page>
    <error-page>
        <error-code>404</error-code>
        <location>/login-error404.jsp</location>
    </error-page>

    <!-- Welcome File -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>

